.navbar{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.5);
}
.container{
    margin-top:50px;
}
h2{
    text-align: center;
}
.card{
    /*padding-bottom: 45px;*/
    border-radius: 1px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.btn-success{
    margin-right: 10px;
    position: absolute;
    border-radius: 0px;
    right: 0px;
    bottom:20px;
}
.btn-success:hover{
    background:white;
    border:white;
    color:black;
}
.btn-dark{
    position: absolute;
    border-radius: 0px;
    right: 150px;
    bottom: 20px;
}