body{
    margin: 0px;
}
h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#card1{
    padding-top: 45px;
}
.card-deck{
    margin: 50px;
}
.card-img-top{
    height: 65%;
    width: 100%;
    object-fit: cover;
}
.card{
    background: linear-gradient(white,	dodgerblue,white);
    padding-bottom: 45px;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}
.cards2{
    padding-bottom: 65px;
}
.modal-content{
    text-align: center;
}
.btn{
    margin: 2px;
}